@inject IStringLocalizer<Resource> localizer
<EditForm Model="sModel" OnValidSubmit="@ModalOk">
    <DataAnnotationsValidator />
    <div class="modal fade show" role="dialog" aria-modal="true" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Modal Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">@Title</h4>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="@ModalCancel"></button>
                </div>
                <!--Modal Body-->
                <div class="modal-body mx-3">
                    <label>@localizer["Имя пользователя"]</label>
                    <input disabled class="form-control" @bind="Login" />
                    <div class="row mb-2">
                        <div class="col col-md-6">
                            <label>@localizer["Пароль"]</label>
                            <InputText type="password" class="form-control" @bind-Value="sModel.Pass1" />
                            <ValidationMessage For="(() => sModel.Pass1)" />
                        </div>
                        <div class="col col-md-6">
                            <label>@localizer["Повторить пароль"]</label>
                            <InputText type="password" class="form-control" @bind-Value="sModel.Pass2" />
                            <ValidationMessage For="(() => sModel.Pass2)" />
                        </div>
                    </div>
                    <hr />
                    <span>
                        <small>
                            <strong>@localizer["Пароль должен"]:</strong><br /><em>
                                1. @localizer["Иметь минимум 8 символов в длину"].<br />
                                2. @localizer["Одну заглавную букву, по крайней мере"].<br />
                                3. @localizer["Одну прописную букву, по крайней мере"].<br />
                                4. @localizer["Одну цифру, по крайней мере"].<br />
                                5. @localizer["Один специальный символ, по крайней мере"].<br />
                            </em>
                        </small>
                    </span>
                </div>
                <!--Modal Footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" style="width: 110px;">@localizer["Сохранить"]</button>
                    <button type="button" class="btn btn-secondary" style="width: 110px;" @onclick="@ModalCancel">@localizer["Отмена"]</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<ToastNotification IsOpen="@Toast.IsOpen" Text="@Toast.RenderText" Level="@Toast.Level"></ToastNotification>
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public int Id { get; set; }
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    private string Login { get; set; }
    UserSession sModel = new();
    protected override void OnInitialized()
    {
        sModel.Id = Id;
        Login = sModel.GetLogin();
    }
    private async Task ModalOk()
    {
        if (!sModel.ChangePassword())
        {
            await Toast.Notification(@<span>@localizer[BaseModel.MyMessage]!</span>, ToastLevel.Info);
        }
        else
            await OnClose.InvokeAsync(true);
    }
    private Task ModalCancel() => OnClose.InvokeAsync(false);
}
